body{
    background-image: url("https://media.istockphoto.com/photos/laptop-with-office-accessories-on-wooden-table-business-background-picture-id868697268?k=6&m=868697268&s=170667a&w=0&h=dMmThXOQQrSmMVa8zaJbdICIBeRnChpe41L5ujCfdSk=");
    background-repeat: no-repeat;
    background-size: cover;
}